{% extends "root.html" %}            
{% block title %} Массовая печать этикеток {% endblock title %}
{% block content %}
<p>Мы заебись.</p>
<p>Причины почемы мы заебись:</p>
<ul>
	<li>Мы заебись</li>
</ul>
{% endblock content %}
