{% extends "root.html" %}            
{% block title %} Массовая печать этикеток {% endblock title %}
{% block content %}
<div>
	<form method="POST" action="add_event">
		<div class="input-string">
			<label class="input_title">Заголовок</label><input class="input-field" name="title" type="text">
		</div>
		<div class="input-string">
			<label class="input_title">Текст</label><textarea class="input-field" name="notes"></textarea>
		</div>
                <div class="input-string">
			<label class="input_title">Тип закрепления</label>
			<select name="type_pine" class="input-field">
				<option value="0" selected>0</option>
				<option value="1">1</option>
			</select>
                </div>
                <div class="input-string">
			<label class="input_title">Тип афиши</label>
			<select name="type_poster" class="input-field">
				<option value="0">0</option>
				<option value="1">1</optio>
			</select>
                </div>
                <div class="input-string">
			<label class="input_title">Отображение</label><input type="checkbox" name="active" selected value="true">
                </div>
                <div class="input-string">
			<input type="submit" value="Проверить" class="input-field">
		</div>
	</form>
</div>
{% endblock content %}
