{% extends "root.html" %}            
{% block title %} Массовая печать этикеток {% endblock title %}
{% block content %}
{% for event in events %}
<div class="event">
  <p><a href="events/{{event.id}}">{{event.title}}</a>: {{event.notes}}</p>
</div>
{% endfor %}
{% endblock content %}
