{% extends "root.html" %}            
{% block title %} Массовая печать этикеток {% endblock title %}
{% block content %}
<!--
            <iframe 
                width="425" 
                height="350" 
                frameborder="0" 
                scrolling="no" 
                marginheight="0" 
                marginwidth="0" 
                src="https://www.openstreetmap.org/export/embed.html?bbox=104.22930389642717%2C52.26532090489898%2C104.23377782106401%2C52.26681959422086&amp;layer=mapnik" 
                class="map"
            >
            </iframe>
            <br/>
            <small>
                <a class="map-link" href="https://www.openstreetmap.org/#map=19/52.26607/104.23154">Посмотреть более крупную карту</a>
            </small>
            -->
{% endblock content %}
