{% extends "root.html" %}            
{% block title %} Массовая печать этикеток {% endblock title %}
{% block content %}
{% if not session %}
<form method="POST" action="/login">
	<p>Имя пользователя: <input name="username" type="text"></p>
	<p>Пароль: <input name="password" type="password"></p>
	<p>Действия: <input type="submit" value="Войти">
</form>
{% else %}
<form method="POST" action="/logout">
    <input type="submit" value="Выйти"></p>
</form>
{% endif %}
{% endblock content %}
