<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Черный квадрат{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            <div class='site-title'>ЧЕРНЫЙ КВАДРАТ</div>
            <div class='pages-list'>
                <a href='#' class='page-link'>Афиша</a>
                <a href='#' class='page-link'>О Нас</a>
                <a href='#' class='page-link'>Как добраться</a>
                <a href='#' class='page-link'>Поддерка</a>
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <a href="#">Контакты</a>
        </footer>
    </body>
</html>
