@font-face {
    font-family: 'Snowstorm'; 
    src: url(../fonts/Snowstorm.otf); 
}

@font-face {
    font-family: 'Snowstorm_black'; 
    src: url(../fonts/Snowstorm\ Black.otf); 
}

@font-face {
    font-family: 'Snowstorm_bold'; 
    src: url(../fonts/Snowstorm\ Bold.otf); 
}

@font-face {
    font-family: 'Snowstorm_inline'; 
    src: url(../fonts/Snowstorm\ Inline.otf); 
}

@font-face {
    font-family: 'Snowstorm_kraft'; 
    src: url(../fonts/Snowstorm\ Kraft.otf); 
}
@font-face {
    font-family: 'Snowstorm_light'; 
    src: url(../fonts/Snowstorm\ Light.otf); 
}

body {
    background: #301615;
    color: #cd9c77;
    font-family: "Snowstorm_light";
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header {
    margin-bottom: 1em;
    border-bottom-color: #d7b889;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

header .pages-list {
    display: -webkit-inline-flex;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.5em;
}

header .pages-list .page-link {
    font-size: 2em;
    text-decoration: none;
    color: #af1716;
    border-bottom-width: 0.1em;
    border-bottom-style: inset;
    border-color: #301615;
}

header .pages-list .page-link:hover {
    border-color: #af1716;
} 

.site-title {
    font-family: "Snowstorm_kraft";
    font-size: 3em;
    text-align: center;
}

.content {
    text-align: center;
    font-size: 1.5em;
}

.map {
    border: 1px solid black;
}

.map-link {
    color: #af1716;
}

footer {
    border-top-width: 0.1em;
    border-top-style: solid;
    border-color: #d7b889;
    height: 15em;
}

footer a {
    color: #af1716;

}

.event p{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.input-string .input-field {
    all: unset;
    border-color: #cd9c77;
    border-bottom-style: solid;
    margin-left: 0.5em;
    border-bottom-width: 0.1em;
    text-align: left;
}

.input-string {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
